.home {
    margin: auto; 
    display: flex;
    justify-content: space-around;
}
.home_module {
    margin-bottom: 1rem;
    max-width: 28rem;
}
.home_name {
    margin: 1.5rem 0 1.5rem 0;
    text-align: right;
    color: #DDDECB;
    font-size: large;
}
.home_name_bold {
    font-weight: bold;
}

/* BOTONES */
.session_button{
    display: flex;
    justify-content: flex-end;
    flex-wrap:wrap;
    padding: 20px 0 0 0;
}
.home_session_button {
    margin: 0 10px 10px 10px;
    min-width: 80px;
    font-weight: bold;
    color: #ffff;
    padding: 1rem;
    border: none;
    background-color:rgba(96,96,96,0.5);
    transition: all 0.5s;
    border-radius: .2rem;
}
.home_session_button:hover {
    box-shadow: 0px 0px 16px rgb(39, 115, 177);
    background-color:  rgb(69, 99, 125) ;
  }
.home_exit_button {
    margin: 0 10px 10px 10px;
    min-width: 80px;
    font-weight: bold;
    color: #ffff;
    padding: 1rem;
    border: none;
    background-color:rgba(96,96,96,0.5);
    transition: all 0.5s;
    border-radius: .2rem;
}
.home_exit_button:hover {
    box-shadow: 0px 0px 16px rgba(255,0,0);
    background-color: rgba(255,0,0);
  }

/* TABLE LIST */
.home_list_content {
    
    padding-top: 12px;
    min-height: 300px;
    background-color: #ffff;
    box-shadow: -4px 4px 68px -10px rgba(0,0,0,0.75);
    margin-bottom: 15px;
}

.table_proyect {
    max-height:60vh;
    overflow: auto;
    margin: 10px;  
    border-radius: .2rem;
}
.th_date{
    width: 9rem;
}
.th_name{
    width: 11rem;
}
.th_status{
    width: 8rem;
}
.th_id{
    text-align: center;
    width: 2rem;
}
.table-active th {
    padding: 1rem 8px 1rem 8px;
}
/*analist*/

.home_menu_analist_content {
    min-height: 300px;
    background-color: #496877;
    border: solid #999999 2px;
    box-shadow: -4px 4px 68px -10px rgba(0,0,0,0.75);
    margin-bottom: 15px;
    padding: 2rem 1rem;
    color: #DDDECB;
}
.filter_content{
    padding: 0 10%;
}

.home_analist {
    min-height: 300px;
    margin: 0 12px 0 12px;
    display: flex;
    justify-content: space-around;
} 
.home_menu_analist_title {
    text-align: center;
    padding-bottom: 1REM;
}
.home_menu_analist_lbl {
    padding: 0 1rem;
}
.home_menu_analist_filterItem {
    padding: 0 1rem 1rem 0;
}
.home_menu_analist_groupe {
    display: block;
}
.home_menu_analist_groupe select {
    margin: 1rem;
    min-width: 15rem;
}

.btn_filter{
    display: flex;
    justify-content: center;
    padding: 1rem;
}
